<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./homePage.css">
    <title>Home</title>
</head>
<body>  
    <header id="header">
        <nav>
            <ul>
                <li><a href="">Github</a></li>
                <li><a href="">Sobre</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="homePage">
            <div class="containerOpcoes">

            </div>
        </section>
    </main>
    <footer class="footer">
        
    </footer>
</body>
</html>